.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* padding: 0px 10px; */
}

.navbar i {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.navbar .right-grp {
    display: flex;
    align-items: center;
    width: 22%;
    justify-content: space-between;
}

.navbar .right-grp .right-grp-1 {
    display: flex;
}
.navbar .right-grp .right-grp-1 i{
    padding: 0 8px;
}

.navbar .right-grp .right-grp-2 {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    font-size: 20px;
    color: #0183FD;
    border-radius: 8px;
}
.navbar .right-grp .right-grp-2 i{
    padding: 0 10px;
    color: #8292AB;
}

@media screen and (max-width: 768px) {
    .navbar{
        padding: 0;
        width: auto;
    }
    .navbar .right-grp{
        width: auto;
    }
    .navbar .right-grp .right-grp-1{
        margin: 10px 12px 10px 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px){
    .navbar{
        margin: 0 20px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .navbar{
        margin: 0 10px;
        width: auto;
    }
    .navbar .right-grp{
        width: auto;
    }
}

@media screen and (min-width: 1200px) {
    .navbar .right-grp{
        width: 20%;
    }
}