.laundary , .menu, .item{
    display: flex;
}
.laundary{
    margin-bottom: 2rem;
    padding: 5px 0px;
    font-size: 35px;
    align-items: center;
    color: rgb(52, 52, 52);
}
.laundary i, .laundary h3{
    margin: 5px;
}
.menu{
    margin:10px;
    flex-direction: column;
}
.menu .item{
    align-items: center;
    padding: 20px 12px;
    font-size: 16px;
    cursor: pointer;
}
.menu .item-1{
    background-color: #3366CC;
    border-radius: 6px;
    color: white;
}
.menu .item i{
    margin-right: 10px;
}
.menu .item .yellow{
    color: #FF9900;
}
.menu .item .green{
    color: #109618;
}
.menu .item .blue{
    color: #3366CC;
}
.menu .item .purple{
    color: #990099;
}
.menu .item .red{
    color: #DC3912;
}