.mainsidebar{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}
.mainsidebar-2{
    padding: 10px;
    margin: 10px;
}
.orders{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .mainsidebar{
        display: none;
    }
    .mainsidebar-2{
        padding: 0px;
        margin: 00px;
    }
    .orders, .section-2{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .mainsidebar{
        margin: 0;
        display: block;
        height: 43rem;
    }
    .section-2{
        margin: 0 15px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .mainsidebar{
        display: block;
        margin: 0;
        height: 43rem;
    }
    .mainsidebar-2{
        padding: 0;
        margin: 0;
    }
    .orders, .section-2{
        flex-wrap: wrap;
    }
}